{%extends 'base.html'%}
{%load static%}

{%block content%}



<video id="vid-back" loop autoplay>
  <source src="{%static 'media/landscape2.mp4'%}" type="video/mp4">

  Your browser does not support the video tag.
</video>
<section id="primero" class="section">
	<article class="container">
		<h2 id="titulo">Una decición inteligente para tu futuro.</h2>

	<div class="vid-portada">


		<div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oH3GigPxoOY?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>


     </div>

	<br>
	<br>
	<br>
     <a href="#contacto" id="call-action"class="waves-effect waves-light btn blue ">
<i class="material-icons right">room</i>¡Cotiza un terreno ya mismo!</a>

	</article>

</section>


<section class="section white">

<article class="container">

	<h2>Somos Visionarios</h2>
	<p>Creemos en tí</p>

	<p class="descrip">¿Haz soñado con tener tu propia casa?<br>entonces los desarrollos Pro-visión son para ti.</p>
	<hr>

	<div class="iconos">



	<div class="cuadros row">

  <div class="col m6">
	<h3>Compra a Crédito</h3>
	<p>
		Tramitamos un credito directo, sin intermediarios. ¡Confiamos en tí!
	</p>
	</div>

		<i class="material-icons col m6 s12">vpn_key</i>

	</div>

	<hr>

	<div class="cuadros row">
	<i class="material-icons col m6 s12">shopping_cart</i>
	<div class="col m6">
	<h3>Excelente Precio de Contado</h3>
	<p>
		Si quieres el mejor lote al mejor precio, el pago de contado es tu opción, con toda la seguridad del tramite ante notario.
	</p>
	</div>



	</div>

	<hr>

	<div class="cuadros row">
	<div class="col m6">
	<h3>Pocos trámites</h3>
	<p>
		Sin necesidad de hacer filas, esperar a realizar un tardado trámite, en Pro-Visión queremos ayudarte sin necesidad de hacerte sufrir.
	</p>
	</div>

		<i class="material-icons col m6 s12">toc</i>

	</div>

	<hr>

	<div class="cuadros row">
	<i class="material-icons col m6 s12">supervisor_account</i>
	<div class="col m6">
	<h3>Sin aval</h3>
	<p>
		Sabemos que es muy complicado encontrar alguién de tu confianza para que sea tu aval, es por eso que nosotros no te lo pedimos como requisito.
	</p>
	</div>



	</div>



	</div>


</article>

</section>


<section id="contacto" class="section grey lighten-5">
	<article class="container">
	<h2>Contáctanos</h2>
	<h3><a href="tel:63559341">Tel: 63559341</a>	</h3>
	<p class="descrip">En breve un asesor se comunicará contigo para atenderte correctamente.</p>
	<hr>
  <form class="white" method="POST" action=".">
                {% csrf_token %}
            <div class="form-group">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                  <i class="fa fa-user fa-2x"></i></div>
                  <div class="input-field col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  {{form.nombre}}
                  </div>
              </div>
              <div class="padding-rows-form">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                  <i class="fa fa-phone fa-2x"></i></div>
                  <div class="input-field col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  {{form.telefono}}
                  <!--<label for="icon_telephone">Teléfono</label>-->
                </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                  <i class="fa fa-envelope fa-2x"></i></div>
                <div class="input-field col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  {{form.correo}}
                 <!-- <label for="email" data-error="Ingrese un Email válido" data-success="Email válido">E-Mail</label>-->
                </div>
              </div>
               <div class="padding-rows-form">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                  <i class="fa fa-arrows-h fa-2x"></i></div>
               <label for="icon_prefix" class="col-lg-3 col-md-3 col-sm-3 col-xs-7 col-form-label text-center	" style="vertical-align:middle;">¿De qué tamaño te gustaría tu terreno?</label>
                <div class="input-field col-lg-2 col-md-2 col-sm-2 col-xs-4">
                  {{form.tamano}}
                </div>


                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                  <i class="fa fa-dollar fa-2x"></i></div>
                <label for="icon_prefix" class="col-lg-3 col-md-3 col-sm-3 col-xs-7 col-form-label text-center" style="vertical-align:middle;">¿A qué plazo te gustaría pagarlo?</label>
                <div class="input-field col-lg-2 col-md-2 col-sm-2 col-xs-4">
                  {{form.plazo}}
              </div>
              </div>
               <div class="padding-rows-form">
              <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                <input type="submit" class="save btn btn-default" value="Cotizar"></input>
              </div></div>
      </form>
<!--
		<form class="white" method="POST" action="">
		{% csrf_token %}


		<div class="row">

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">account_circle</i>
          <input required="true" name="name"id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre Completo</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">phone</i>
          <input required="true" name="tel"id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Teléfono</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input required="true" name="mail"id="email" type="email" class="validate">
          <label for="email" data-error="Ingrese un Email válido" data-success="Email válido">E-Mail</label>
        </div>

        <div class="input-field col s12 m6">
		    <select name="size">
		      <option value="" disabled selected>Escoge un tamaño: </option>
		      <option value="120m">120m</option>
		      <option value="150m">150m</option>
		      <option value="300m">300m</option>
		      <option value="Otro Tamaño">Otro</option>
		    </select>
		    <label>¿De qué tamaño te gustaria tu terreno?</label>
		  </div>

		   <div class="input-field col s12 m6">
		    <select name="plazo">
		      <option value="" disabled selected>Escoge un plazo: </option>
		      <option value="12 meses">1 año</option>
		      <option value="24 meses">2 años</option>
		      <option value="36 meses">3 años</option>
		      <option value="60 meses">5 años</option>
		    </select>
		    <label>¿A qué plazo te gustaría pagarlo?</label>
		  </div>



      	</div>

		<button type="submit" class=" save btn btn-default">
		Cotizar
		</button>

		</form>
-->
		<img class="responsive-img col m6" src="{%static 'media/easy.png'%}" alt="">

	</article>
</section>




{%endblock content%}
